<%= flash_messages %>
<h2>job</h2>

<p>
  <strong>Title:</strong>
  	<%= @job.title %>
</p>
<p>
  <strong>Description:</strong>
  	<%= @job.description %>
</p>
<p>
  <strong>Field:</strong>
  	<%= job.field %>
</p>
<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-warning" %>
<%= link_to "Back", jobs_path, class: "btn btn-default" %>
